h5py
requests
pillow

piexif
rarfile
ffmpy
msgpack
filetype
redis
gevent
features
markdown
Jinja2
grpcio
grpcio-tools
boto
mongoengine
blinker
imagehash
distance
sklearn
scipy
flask_mongoengine

tqdm
tenacity

pathos
pyyaml
redlock
